lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

#Sublime
Flo.sublime-workspace
Flo.sublime-project

pids
logs
results

node_modules
npm-debug.log

#azure
bin
iisnode
local_package.csx
*.cspkg
.idea