<nav class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav">
    <li><a href="/">Главная</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/login">Войти</a></li>
  </ul>
</nav>
